.ms-m-page * {
	box-sizing: border-box;
}
.ms-m-page .inner {
	padding: 30px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
}
.ms-m-page .form-row {
	margin-bottom: 2rem;
}
.ms-m-page .form-row label {
	display: inline-block;
	vertical-align: middle;
	min-width: 200px;
}
.ms-m-page .form-row.textarea label {
	margin-top: 5px;
	vertical-align: top;
}